@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 950px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 810px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  .the-main-events {
    margin-top: 86rem;
  }
}

/*################*/
/*MEDIA QUERIES FOR LINKS.HTML*/
/*################*/

@media (max-width: 780px) {
  .links-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .links-grid {
    padding: 6rem 1rem 6rem 1rem;
  }
}

@media (max-width: 605px) {
  .links-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 580px) {
  .one-link {
    padding: 12rem 1rem 12rem 1rem;
  }
  
}


/*################*/
/*MEDIA QUERIES FOR BELLS.HTML*/
/*################*/
@media (max-width: 1100px) {
  .entire-schedule {
    flex-direction: column;
    gap: 3.6rem;
  }
  .one-schedule {
    padding: 2rem;
  flex-direction: row;
  
  justify-content: center;
    
  }
  .time {
    margin: auto 0;
    font-size: 1.8rem;
  }
  .period {
    position: absolute;
    margin-right: 98rem;
   margin-top: -.9rem
    
    
  }
  
  .dash {
    display: block;
    font-size: 2.4rem;
    margin: auto 0;
    color: #fff;
  }
}

@media (max-width: 1050px) {
  .period {
    margin-right: 95rem;
  }
}

@media (max-width: 1010px) {
  .period {
    margin-right: 90rem;
  }
}

@media (max-width: 975px) {
  .period {
    margin-right: 85rem;
  }
}

@media (max-width: 800px) {
  .period {
    margin-right: 55rem;
  }
}

@media (max-width: 575px) {
  .period {
    margin-right: 40rem;
  }
}

@media (max-width: 450px) {
  .period {
    margin-right: 35rem;
  }
}


@media (max-width: 400px) {
  .period {
    margin-right: 30rem;
  }
}
